<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" name="viewport" />
		<title>SingleUserMotion</title>
		<!-- 新 Bootstrap 核心 CSS 文件 -->
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
		<script src="js/jquery.min.js"></script>
		<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
		<script src="js/bootstrap.min.js"></script>
		<!-- ECharts单文件引入 -->
		<script src="http://echarts.baidu.com/build/dist/echarts.js"></script>
		<!-- Loading插件引入 -->
		<link rel="stylesheet" type="text/css" href="css/ball-spin-clockwise-fade.min.css" />
		<style type="text/css">
			.btn-custom-label {
				border-radius: 6px;
				border-color: #999999;
			}

			.list-group-custom {
				border: 1px solid #eeeeee;
				text-align: center;
				height: 600px;
				margin-top: 15px;
				overflow-x: hidden;
				overflow-y: scroll;
			}

			.list-group-item-custom {
				border-width: 0;
				cursor: pointer;
			}

			.click {
				color: #00D0BF;
			}
		</style>
	</head>

	<body>
		<div class="container-fluid">
			<div class="row" style="line-height: 50px;">
				<div class="col-xs-2">
					<span style="margin-left:10px;">分组</span>
					<div class="dropdown" style="float:right;display: inline-block;">
						<button type="button" class="btn btn-sm dropdown-toggle" id="dropdownMenuClass" data-toggle="dropdown" style="background: #eeeeee;">
							<span id="currUserGroup">选择分组</span>
							<span class="caret"></span>
						</button>
						<ul id="userGroupDiv" class="dropdown-menu" role="menu" aria-labelledby="dropdownMenuClass">
							<li id="userGroupHidden" role="presentation" class="hidden">
								<a role="menuitem" tabindex="-1" href="#"></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row" style="height: 1px;background: #CCCCCC;"></div>
			<div class="row">
				<div class="col-xs-2" style="border-right: 1px solid #CCCCCC;">
					<div style="margin-top: 15px;">
						<span style="margin-left:10px;">用户列表</span>
						<span id="userCount" style="float: right;margin-right: 10px;"></span>
					</div>
					<div class="input-group" style="margin-top: 15px;">
						<input id="userNameInput" type="text" class="form-control" placeholder="请输入名称" value="" />
						<div id="doSearch" class="input-group-addon" style="cursor: pointer;">
							<img src="img/icon_search.png" style="width: 20px;height: 20px;">
						</div>
					</div>
					<ul id="userNameDiv" class="list-group list-group-custom">
						<li id="userNameHidden" class="list-group-item list-group-item-custom hidden"></li>
						<li id="userNameNull" class="list-group-item list-group-item-custom hidden">
							<p style="font-size: 10px;">没有匹配的用户</p>
							<button id="userNameAll" class="btn btn-primary btn-xs btn-block" style="font-size: 10px;background: #00D0BF;border: none;">返回列表</button>
						</li>
					</ul>
				</div>
				<div id="mask" class="col-xs-10 hidden">
					<div style="color: #00ACC1;margin-top: 250px;" class="center-block la-ball-spin-clockwise-fade la-2x">
						<div></div>
						<div></div>
						<div></div>
						<div></div>
						<div></div>
						<div></div>
						<div></div>
						<div></div>
					</div>
				</div>
				<div id="content" class="col-xs-10 center-block hidden" style="margin-top: 10px;">
					<div class="col-xs-1" style="margin-top: 8px;padding: 0px;text-align: center;">
						<span id="userName">用户名称</span>
					</div>
					<div class="col-xs-11" style="margin-bottom: 10px;">
						<div id="userLabelDiv" style="display: inline-block;margin-left: 5px;">
							<a id="userLabelHidden" role="button" class="btn btn-default btn-sm btn-custom-label hidden disabled" style="margin-left: 10px;margin-top: 5px;"></a>
						</div>
					</div>
					<br />
					<!--<div id="pageMenu" class="btn-group btn-group-justified" style="margin-top: 20px;">
						<a class="btn btn-default btn-lg active" href="#">事件</a>
						<a class="btn btn-default btn-lg" href="#">上下班</a>
						<a class="btn btn-default btn-lg" href="#">动作状态</a>
						<a class="btn btn-default btn-lg" href="#">常去地点</a>
					</div>-->
					<ul id="pageMenu" class="nav nav-pills nav-justified" style="margin-top: 20px;">
						<li class="active"><a href="#">事件</a></li>
						<li><a href="#">上下班</a></li>
						<li><a href="#">动作状态</a></li>
						<li><a href="#">常去地点</a></li>
					</ul>
					<!--<ul id="pageMenu" class="nav nav-tabs nav-justified" style="margin-top: 20px;">
						<li class="active"><a href="#">事件</a></li>
						<li><a href="#">上下班</a></li>
						<li><a href="#">动作状态</a></li>
						<li><a href="#">常去地点</a></li>
					</ul>-->
					<div id="pageContainer" style="margin-top: 15px;">
						<div id="事件" class="page show">
							<div id="eventChart" style="height:600px"></div>
						</div>

						<div id="上下班" class="page hidden">
							<div id="homeOfficeChart" style="height:600px"></div>
						</div>

						<div id="动作状态" class="page hidden">
							<div id="actionChart" style="height:600px"></div>
						</div>

						<div id="常去地点" class="page hidden">
							<div id="locationChart" style="height:600px"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>

	<script type="text/javascript">
		// TODO 假数据 start
		var userGroups = ['全部用户', '分组一', '分组二', '分组三'];
		var userNames = [];
		for (var i = 0; i < 100; i++) {
			userNames.push('第' + i + '个用户');
		}
		var userLabels = ['16岁以下', '人文科学', '管理人员', '10000-20000', '时事新闻', '已婚', '怀孕', '不养宠物', '无车', '时事新闻', '已婚', '怀孕', '不养宠物', '无车'];
		var eventData = {
			category: ['地点1', '地点2', '地点3', '地点4', '地点5', '地点6'],
			data: [2.0, 4.9, 7.0, 23.2, 25.6, 76.7],
		};
		var homeOfficeData = {
			category: ['1:00', '3:00', '5:00', '7:00', '9:00', '11:00', '13:00', '15:00', '17:00', '19:00', '21:00', '23:00'],
			atHomeData: [5.1, 6, 4, 3, 4, 6, 6, 5, 1, 1, 0, 7],
			atOfficeData: [7, 5.1, 6, 4, 3, 4, 6, 6, 5, 1, 1, 0],
			toHomeData: [0, 1.7, 2.1, 2.6, 1.4, 3, 1.4, 0.6, 1.6, 1.5, 1, 1],
			toOfficeData: [1, 0, 3, 2.1, 0.6, 4, 3, 4, 2, 1, 3.5, 1],
		};
		var actionData = {
			category: ['走路', '坐车', '静坐', '跑步', '骑车', '乘车'],
			data: [2.0, 4.9, 17.0, 3.2, 5.6, 6.7],
		};
		var heatData = [];
		for (var i = 0; i < 200; ++i) {
			heatData.push([
				116 + Math.random(), // gps
				39.5 + Math.random(), // gps
				Math.random(), // 热度
			]);
		};
		var locationData = {
			mapType: '北京',
			data: heatData,
		};
		// TODO 假数据 end
		// 定义图表
		var eventChart, homeOfficeChart, actionChart, locationChart;
		// 当前选中
		var currUserName;
		// 筛选结果
		var filterUserNames = userNames;
		// 加载完成后执行
		$(document).ready(function() {
			// 填充分组
			for (var i = 0; i < userGroups.length; i++) {
				var item = $('#userGroupHidden').clone();
				item.removeAttr('id');
				item.removeClass('hidden');
				item.children().html(userGroups[i]);
				item.children().click(changeUserGroup);
				$('#userGroupDiv').append(item);
			};
			// 切换页面显示
			$('#pageMenu li').click(function() {
				$('#pageMenu li').removeClass('active');
				$(this).addClass('active');
				var currPage = $('#' + $(this).children('a').html());
				$('#pageContainer .page').removeClass('show');
				$('#pageContainer .page').addClass('hidden');
				currPage.removeClass('hidden');
				currPage.addClass('show');
				switch ($(this).children('a').html()) {
					case '事件':
						loadEventChart();
						break;
					case '上下班':
						loadHomeOfficeChart();
						break;
					case '动作状态':
						loadActionChart();
						break;
					case '常去地点':
						loadLocationChart();
						break;
				}
			});
			// 初始化图表
			initCharts();
			// 填充用户
			initUserNameList();
			// 加载用户内容
			initUserContent();
			// 查找逻辑
			$('#doSearch').click(function() {
				var name = $('#userNameInput').val();
				if (name == '') {
					// 没输入条件，显示全部
					if (filterUserNames != userNames) {
						// 有效点击
						filterUserNames = userNames;
						// 清空现有列表
						$('#userNameDiv').children('.tag').remove();
						// 重新加载
						initUserNameList();
						console.log('加载全部');
					}
					// 返回
					return;
				}
				// 清空
				filterUserNames = [];
				for (var i = 0; i < userNames.length; i++) {
					if (userNames[i].indexOf(name) >= 0) {
						// 匹配
						filterUserNames.push(userNames[i]);
					}
				}
				// 清空现有列表
				$('#userNameDiv').children('.tag').remove();
				if (filterUserNames.length == 0) {
					// 空列表
					$('#userNameNull').removeClass('hidden');
				} else {
					// 重新加载
					initUserNameList();
				}
			});
			// 回到全部用户
			$('#userNameAll').click(function() {
				$('#userNameNull').addClass('hidden');
				$('#userNameInput').val('');
				filterUserNames = userNames;
				// 重新加载
				initUserNameList();
			});
		});
		// 初始化用户列表
		function initUserNameList() {
			// 重置选中用户
			currUserName = undefined;
			// 填充总人数
			$('#userCount').html(filterUserNames.length + '人');
			// 填充列表
			for (var i = 0; i < filterUserNames.length; i++) {
				var item = $('#userNameHidden').clone();
				item.removeAttr('id');
				item.removeClass('hidden');
				item.addClass('tag');
				item.html(filterUserNames[i]);
				// 点击换人
				item.click(function() {
					// 换人样式变化
					$(this).addClass('click');
					if (currUserName != undefined) {
						currUserName.removeClass('click');
					}
					currUserName = $(this);
					// 换人业务逻辑
					console.log('change');
					$('#content').addClass('hidden');
					$('#mask').removeClass('hidden');
					// TODO 换人业务逻辑执行中
					setTimeout(function() {
						// 换人业务逻辑完成后
						$('#mask').addClass('hidden');
						$('#content').removeClass('hidden');
						// 加载用户内容
						initUserContent();
					}, 2000);
				});
				$('#userNameDiv').append(item);
			};
		}
		// 加载用户内容
		function initUserContent() {
			// 加载默认图表
			loadEventChart();
			// 加载用户名字
			$('#userName').html(currUserName.html());
			// 清空标签
			$('#userLabelDiv').children('.tag').remove();
			// 填充标签
			for (var i = 0; i < userLabels.length; i++) {
				var item = $('#userLabelHidden').clone();
				item.removeAttr('id');
				item.removeClass('hidden');
				item.addClass('tag');
				item.html(userLabels[i]);
				$('#userLabelDiv').append(item);
			};
		};
		// 切换分组
		function changeUserGroup() {
			$('#currUserGroup').html($(this).html());
			// TODO 点击分组逻辑-不在本周任务内
		}
		// 初始化
		function initCharts() {
			// 路径配置
			require.config({
				paths: {
					echarts: 'http://echarts.baidu.com/build/dist'
				}
			});
		};
		// 加载事件图表
		function loadEventChart() {
			// 使用
			require(
				[
					'echarts',
					'echarts/chart/line',
					'echarts/chart/bar',
				],
				function(ec) {
					// 基于准备好的dom，初始化echarts图表
					eventChart = ec.init(document.getElementById('eventChart'));
					option = {
						color: ['#00acc1'],
						title: {
							text: '事件统计图',
						},
						tooltip: {
							trigger: 'axis',
							formatter: '{b} : {c} 次',
						},
						toolbox: {
							show: true,
							feature: {
								magicType: {
									show: true,
									type: ['line', 'bar']
								},
								restore: {
									show: true
								},
								saveAsImage: {
									show: true
								}
							}
						},
						xAxis: [{
							type: 'category',
							data: eventData.category,
						}],
						yAxis: [{
							type: 'value'
						}],
						series: [{
							type: 'bar',
							barMaxWidth: 80,
							data: eventData.data,
							markPoint: {
								data: [{
									type: 'max',
									name: '最大值'
								}, {
									type: 'min',
									name: '最小值'
								}]
							},
							markLine: {
								data: [{
									type: 'average',
									name: '平均值'
								}]
							}
						}]
					};
					// 为echarts对象加载数据
					eventChart.setOption(option);
				}
			);
			// 自适应
			$(window).resize(function() {
				eventChart.resize();
			});
		};
		// 加载上下班图表
		function loadHomeOfficeChart() {
			// 使用
			require(
				[
					'echarts',
					'echarts/chart/line',
					'echarts/chart/bar',
				],
				function(ec) {
					// 基于准备好的dom，初始化echarts图表
					homeOfficeChart = ec.init(document.getElementById('homeOfficeChart'));
					option = {
						title: {
							text: '上下班统计图',
						},
						tooltip: {
							trigger: 'axis',
							formatter: '{b} : {c} 次',
						},
						toolbox: {
							show: true,
							feature: {
								magicType: {
									show: true,
									type: ['line', 'bar']
								},
								restore: {
									show: true
								},
								saveAsImage: {
									show: true
								}
							}
						},
						legend: {
							data: ['在家', '在公司', '在回家路上', '在上班路上'],
						},
						xAxis: [{
							type: 'category',
							data: homeOfficeData.category,
						}],
						yAxis: [{
							type: 'value'
						}],
						series: [{
							name: '在家',
							type: 'line',
							barMaxWidth: 80,
							data: homeOfficeData.atHomeData,
							markPoint: {
								data: [{
									type: 'max',
									name: '最大值'
								}, {
									type: 'min',
									name: '最小值'
								}]
							},
							markLine: {
								data: [{
									type: 'average',
									name: '平均值'
								}]
							}
						}, {
							name: '在公司',
							type: 'line',
							barMaxWidth: 80,
							data: homeOfficeData.atOfficeData,
							markPoint: {
								data: [{
									type: 'max',
									name: '最大值'
								}, {
									type: 'min',
									name: '最小值'
								}]
							},
							markLine: {
								data: [{
									type: 'average',
									name: '平均值'
								}]
							}
						}, {
							name: '在回家路上',
							type: 'line',
							barMaxWidth: 80,
							data: homeOfficeData.toHomeData,
							markPoint: {
								data: [{
									type: 'max',
									name: '最大值'
								}, {
									type: 'min',
									name: '最小值'
								}]
							},
							markLine: {
								data: [{
									type: 'average',
									name: '平均值'
								}]
							}
						}, {
							name: '在上班路上',
							type: 'line',
							barMaxWidth: 80,
							data: homeOfficeData.toOfficeData,
							markPoint: {
								data: [{
									type: 'max',
									name: '最大值'
								}, {
									type: 'min',
									name: '最小值'
								}]
							},
							markLine: {
								data: [{
									type: 'average',
									name: '平均值'
								}]
							}
						}]
					};
					// 为echarts对象加载数据
					homeOfficeChart.setOption(option);
				}
			);
			// 自适应
			$(window).resize(function() {
				homeOfficeChart.resize();
			});
		};
		// 加载动作图表
		function loadActionChart() {
			// 使用
			require(
				[
					'echarts',
					'echarts/chart/line',
					'echarts/chart/bar',
				],
				function(ec) {
					// 基于准备好的dom，初始化echarts图表
					actionChart = ec.init(document.getElementById('actionChart'));
					option = {
						color: ['#00acc1'],
						title: {
							text: '动作统计图',
						},
						tooltip: {
							trigger: 'axis',
							formatter: '{b} : {c} 次',
						},
						toolbox: {
							show: true,
							feature: {
								magicType: {
									show: true,
									type: ['line', 'bar']
								},
								restore: {
									show: true
								},
								saveAsImage: {
									show: true
								}
							}
						},
						xAxis: [{
							type: 'category',
							data: actionData.category,
						}],
						yAxis: [{
							type: 'value'
						}],
						series: [{
							type: 'bar',
							barMaxWidth: 80,
							data: actionData.data,
							markPoint: {
								data: [{
									type: 'max',
									name: '最大值'
								}, {
									type: 'min',
									name: '最小值'
								}]
							},
							markLine: {
								data: [{
									type: 'average',
									name: '平均值'
								}]
							}
						}]
					};
					// 为echarts对象加载数据
					actionChart.setOption(option);
				}
			);
			// 自适应
			$(window).resize(function() {
				actionChart.resize();
			});
		};
		// 加载地点图表
		function loadLocationChart() {
			// 使用
			require(
				[
					'echarts',
					'echarts/chart/map',
				],
				function(ec) {
					// 基于准备好的dom，初始化echarts图表
					locationChart = ec.init(document.getElementById('locationChart'));
					option = {
						title: {
							text: '地点统计图',
						},
						tooltip: {
							trigger: 'item',
							formatter: '{b}'
						},
						toolbox: {
							show: true,
							orient: 'vertical',
							x: 'right',
							y: 'top',
							feature: {
								restore: {
									show: true
								},
								saveAsImage: {
									show: true
								}
							}
						},
						series: [{
							type: 'map',
							mapType: locationData.mapType,
							roam: false,
							hoverable: false,
							data: [],
							heatmap: {
								minAlpha: 0.1,
								data: locationData.data
							},
							itemStyle: {
								normal: {
									borderColor: 'rgba(255,255,255,0.6)',
									borderWidth: 1,
									areaStyle: {
										color: '#00acc1'
									}
								}
							}
						}]
					};
					// 为echarts对象加载数据
					locationChart.setOption(option);
				}
			);
			// 自适应
			$(window).resize(function() {
				locationChart.resize();
			});
		};
	</script>

</html>
